<div class="bar bar-header">
  <h1 class="title">Dashboard</h1>
  <button class="button button-dark  icon-left ion-ios-analytics" ng-click="showChart()">Show Chart</button>
</div>
<ion-view view-title="Dashboard">
	<ion-content class="padding has-header">
		
		<div class="row">
	   		<div class="col text-center">
				<button class="button button-calm button-large icon-left ion-nuclear" ng-click="addsmoke()">
	  				Log Smoke
				</button>
			</div>
		</div>
		{{connection}}

		 <ion-list>
		 	<ion-item>
		 		Smoked today
		 		<span class="badge badge-assertive">{{smokesPerDay.count ? smokesPerDay.count : 0}}</span>
		 	</ion-item>
		 	<ion-item>
		 		Average Per Day
		 		<span class="badge badge-balanced">{{averagePerDay | number:2}}</span>
		 	</ion-item>
		 	<ion-item>
		 		Smoked overall
		 		<span class="badge badge-balanced">{{numberOfOverallSmokes}}</span>
		 	</ion-item>
		</ion-list>
		<div class="card assertive">
        	<div class="item item-text-wrap">
            	Money saved <span class="badge badge-positive">{{moneySaved | number:2}} $</span>
          	</div>
          	<div class="item item-text-wrap">
            	Money spent <span class="badge badge-assertive">{{moneySpent | number:2}} $</span>
          	</div>
      	</div>

	</ion-content>
</ion-view>