<div class="bar bar-header">
  <h1 class="title">Dashboard</h1>
  <button class="button button-dark  icon-left ion-ios-analytics" ng-click="showChart()" ir-event-click='{"name":"show_chart","category":"Dashboard"}'>Show Chart</button>
</div>
<ion-view view-title="Dashboard">
	<ion-content class="padding has-header">
		
		<div class="row">
	   		<div class="col text-center">
				<button class="button button-calm button-large icon-left ion-nuclear" ng-click="addsmoke()" ir-event-click='{"name":"log_smoke","category":"Dashboard"}'>
	  				Log Smoke
				</button>
			</div>
		</div>
		{{connection}}

		 <ion-list>
		 	<ion-item>
		 		Smoked Today
		 		<span class="badge badge-assertive">{{smokesPerDay ? smokesPerDay : 0}}</span>
		 	</ion-item>
		 	<ion-item>
		 		Average Per Day
		 		<span class="badge badge-balanced">{{averagePerDay | number:2}}</span>
		 	</ion-item>
		 	<ion-item>
		 		Smoked Overall
		 		<span class="badge badge-balanced">{{numberOfOverallSmokes}}</span>
		 	</ion-item>
		</ion-list>
		<div class="card assertive">
        	<div class="item item-text-wrap">
            	Money Saved <span class="badge badge-positive">{{moneySaved | number:2}} $</span>
          	</div>
          	<div class="item item-text-wrap">
            	Money Spent <span class="badge badge-assertive">{{moneySpent | number:2}} $</span>
          	</div>
          	<div class="item item-text-wrap">
            	Since Last Smoke <span class="badge">{{sinceLastSmoke}}</span>
          	</div>
      	</div>

	</ion-content>
</ion-view>