<div class="bar bar-header">
  <h1 class="title">Log list</h1>
</div>
<ion-view view-title="Dashboard">
	<ion-content class="padding has-header">
		<ion-list>

		   <ion-item-options  side="right">
		 
		    <ion-item ng-repeat="smoke in smokes">
		    	<ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeSmoke(smoke)"></ion-option-button>
		    	{{smoke.timestamp | date:'MM/dd/yyyy'}} {{smoke.timestamp | date :'HH:mm:ss'}}
		    </ion-item>
		  	
		    </ion-item-options>
		 
		  </ion-list>
		   <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!noMoreItemsAvailable">
		  </ion-infinite-scroll>
	<ion-content>
</ion-view>
	