<ion-view view-title="Login" name="login-view">
  <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
      <div ng-show="exception.code" class="item item-icon-left assertive item-wrap" href="#">
        <i class="icon ion-ios-locked"></i>
        {{exception.message}}
     </div>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" name="email" ng-model="userLogin.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" name="password" ng-model="userLogin.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <button class="button button-block button-balanced" ng-click="showRegisterForm()">Register</button>
  </ion-content>
</ion-view>