<div class="bar bar-header">
  <h1 class="title">Settings</h1>
</div>
<ion-nav-view view-title="Dashboard">
	<ion-content class="padding has-header">
		 <a ng-show="networkProblems" class="item item-icon-left assertive" href="#">
    		<i class="icon ion-wifi"></i>
    		Experiencing network problems. Please try again.
 		 </a>

		<div class="card">
  			<div class="item item-avatar">
    			<img ng-if="users.profilephoto" ng-src="{{users.profilephoto}}" />
    			<h2>Logged in as</h2>
    			<p>{{users.fullname}}</p>
  			</div>
  			<input type="file" id="cameraID" accept="image/*" capture="camera" style="visibility:hidden;" onchange="angular.element(this).scope().uploadPhoto(this)" />
  			<button class="button button-full button-stable" ng-click="takePhoto()">Take profile photo</button>
		</div>
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Cigarettes smoked per day before logging</span>
		    <input type="text" placeholder="Number of cigarettes smoked per day before logging" ng-model="settings.numberOfSmoked">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Price per pack (20 cigarettes)</span>
		    <input type="text" placeholder="Price per pack (20 cigrattes)" ng-model="settings.pricePerPack">
		  </label>
		</div>
		<button class="button button-full button-stable" ng-click="logout()">
  			Logout
		</button>
	</ion-content>
</ion-nav-view>