<div class="bar bar-header">
  <h1 class="title">Social</h1>
  <button class="button button-dark ion-chatbubble" ng-click="addNewPost()" ir-event-click='{"name":"add_post","category":"social"}'> Add Post</button>
</div>
<ion-view view-title="Dashboard">
  <ion-content class="padding has-header">
    <div class="padding-top"></div>
    <div class="list card" ng-repeat="item in social">

      <div class="item item-avatar">
        <img ng-if="item.profilephoto" ng-src="{{item.profilephoto}}" />
        <img ng-if="!item.profilephoto" ng-src="img/nopicture.jpg" />
        <h2>{{item.authorName}}</h2>
        <p>{{item.timestamp | date:'short'}}</p>
        <div style="position: absolute; right: 20px; top: 10px;">
          <button class="button icon ion-heart" ng-click="submitLike(item)" ir-event-click='{"name":"add_like","category":"social"}'>{{!item.likes ? ' 0' : ' ' + item.likes.length}} Likes</button>
        </div>
      </div>

      <div class="item item-body">
        <p>
          <pre>{{item.message}}</pre>
        </p>
        <p>
          <a href="#" ng-click="showComments = !showComments" class="subdued" ir-event-click='{"name":"show_comments","category":"social"}'>{{!item.comments ? '0' : item.comments.length}} Comments</a>
        </p>
      </div>
      <div ng-show="showComments">
        <div class="list" ng-repeat="comment in item.comments" style="word-wrap: break-word;">
          <a class="item item-avatar item-text-wrap" href="#">
            <img ng-if="comment.profilephoto" ng-src="{{comment.profilephoto}}" />
            <img ng-if="!comment.profilephoto" ng-src="img/nopicture.jpg" />
            <h2>{{comment.authorName}} ({{comment.timestamp | date:'short'}})</h2>
            <p>{{comment.message}}</p>
          </a>
        </div> 
        
      </div>
      <div class="item item-body">
          <form>
             <label class="item item-input">
                  <input type="text" ng-model="social.newcomment" placeholder="Type in your comment here">
              </label>
              <button type="submit" class="button button-full button-balanced" ng-click="submitNewComment(item)" ir-event-click='{"name":"add_comment","category":"social"}'>Submit comment</button>
          </form>
        </div>
    </div>
  </ion-content>
</ion-view>